@import-normalize; /* bring in normalize.css styles */
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

:root {
  --primary-color: #407bff;
  --primary-button-text-color: #fff;
  
  --btn-box-shadow: 0px 4px 8px 0px #407BFF57;
  --btn-hover-box-shadow: 0px 4px 14px 0px #407BFF8A;
  --btn-active-box-shadow: none;

  --light-box-shadow: 0px 4px 4px 0px #407BFF4D;

  --white-color: #FFFFFF;
  --primary-txt-color: #2F2F2F;
  --blue-color: #407BFF;
  --orange-color: #FF9D43;
  --red-color: #EF5050;
  --light-blue-color: #9EBBFF;
  --light-grey-color: #D7E3FF;
  --second-background-color: #ECF2FF;

  --main-font: Roboto;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-all-250ms: all 250ms var(--cubic);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
h4,
span {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
